.a{background-color: black; color: white; padding: 5px; border: rgba(255, 255, 255, 0.541); font-family:Arial, Helvetica, sans-serif;}
.a:hover{background-color: white; color: black; border-color: black;}
.izq{float: left;}
.der{float: right;}